.header{
    background-color: rgb(21, 21, 116);
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.github-link{
  text-decoration: none;
  font-size: large;
  margin: 10px;
  text-align: center;
  color: #fff;
}

.header-title{
    color: white;
    text-align: center;
}

.header-cards{
    margin: 0.5cm;
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: 1.2rem;
    text-align: center;
}

.cards {
  background: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.card-value{
  font-size: xx-large;
}
.card-label{
  font-weight: bold;
  font-size: larger;
}

.section{
    padding: 3px;
    margin: 8px;
}

.section-header{
    text-align: center;
    text-transform: uppercase;
}

.section-figure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin:0.5rem;
    border-radius: 10px;
}

.options_filters{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 50%;
}

.figures{
  width: 500px;
  height: 500px;
}

html {
    scroll-behavior:smooth;
}

@media (max-width: 1150px) {
  .header-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .header-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .header-cards {
    grid-template-columns: 1fr;
  }
}

.footer{
    bottom:-1px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
